<!DOCTYPE html>
<html ng-app="AlbumAritsta">
  <head <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Albuns</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./style.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="./controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </head>

  <body ng-controller="ArtistaControle">

    <div class="letreiro">
      <h1 style="background-color:Navy;"> Albuns </h1>
    </div>

    <div class="jumbotron">
        <input class="form-control" type="text" ng-model="artista.nome" placeholder="Artista"/>
        <input class="form-control" type="text" ng-model="artista.foto" placeholder="Foto"/>
        <button class="btn btn-primary btn-block"  ng-click="adicionarArtista(artista)">Adicionar Artista</button>

    </div>

    <br>
    <br />

    <div class="container-fluid">
    <div class="row">
    <div class="col-md-9 col-md-push-3">  <!Coluna esquerda*/-- -->
      <div class="tab-pane">
          <br /><h2 ng-show="verificaTable(artistas)"> Meus artistas </h2>
          <h3 {{app}}></h3>
          <div class="imgContainer">
              <div class="gallery" ng-repeat="artista in artistas">
                <img class="artista-foto" src="{{artista.foto}}" width="190" height="160">
                <div class="middle">
                  <div class="text">{{artista.nome}}</div>
                </div>
              </div>
            </div>
          </div>

    </div>
    <div class="col-md-3 col-md-pull-9">  <!Coluna direita-->
      <h6> Buscar artista </h6>
      <input class="form-control" type="text" ng-model="nomeArtistaBuscado" placeholder="Digite o nome do artista procurado" />

      <table class="tabelaArtistas table table-dark table-hover table-responsive" width="400" ng-show="verificaTable(artistas)">

      <tr>
        <th>
          Nome dos artistas
        </th>
      </tr>

      <tr ng-repeat="favorito in favoritos | filter:nomeFavoritoBuscado">

                  <!-- modal com info de artistas -->
                  <div class="modal fade" id="infoFavorito" name="infoFavorito">

                    <div class="modal-dialog">

                      <div class="modal-content">

                        <div class="modal-header">

                          <div>

                            <h6>Favoritos:</h6>


                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </tr>

      <tr ng-repeat="artista in artistas | filter:nomeArtistaBuscado">
        <td class="blocoNome"><span data-toggle="modal" data-target = "#infoArtista" ng-click="select(artista)" >{{artista.nome}}</span></td>

        <td><img class="img-fluid rounded imagemArtista" ng-src="{{artista.imagem}}"></td>
                 

                </tr>

              </table>

          </div>

        </div>

    <br />
    <div class="text-center blocoDeOpcao">


<!-- modal-->
<div>
<h6>Adicionar Artista</h6>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#musicForm">Adicionar </button>
</div>
<!-- janela de adicao de musicas-->
      <div  class="modal fade" id="musicForm" name="musicForm" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- cabecalho -->
            <div class="modal-header">
              <h5 class="modal-title">Adicionar Artista</h5>
              <button type="button" class="btn btn-danger" data-dismiss="modal">&times;</button>
            </div>

            <!--corpo -->
            <div class="modal-body">
              <input class="form-control" type="text" name="nomeMusica" id="nomeMusica" placeholder="Digite o nome da música" ng-model="musica.nome" ng-required = "true" />
              <input type="text" class="form-control" name="autorMusica" id="autorMusica" placeholder="Digite o nome do artista" ng-model="musica.autor" ng-required="true" />
              <input type="text" class="form-control" name="album" id="album" placeholder="Digite o nome do álbum" ng-model="musica.album" ng-required="true" />
            </div>

            <!--rodape-->
            <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-click="adicionarMusica(musica)" ng-disabled="musicaForm.$invalid" ng-click="adicionarMusica(musica)">Adicionar</button>
            </div>

          </div>
        </div>
      </div>

      <div>

  </div>

    <br /><h2 ng-show="verificaTable(musicas)">Artistas </h2>
            <table class="tabelaMusicas table table-dark table-hover table-responsive" width="400" ng-show="verificaTable(musicas)" >
              <tr>

                <th>
                  Nome
                </th>
                <th>
                  Artista
                </th>
                <th>
                  Álbum
                </th>
              </tr>
              <tr ng-repeat="musica in musicas">
                <td>{{musica.nome}}</td>
                <td>{{musica.autor}}</td>
                <td>{{musica.album}}</td>

              </tr>
            </table>  
           
  </div>
  <br />
   
  </body>
</html>
